<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD4VGKVJoxKvL8Z4DWTS9MRY9zAU1aDI-8</string>
	<key>GCM_SENDER_ID</key>
	<string>305195148777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newidea</string>
	<key>PROJECT_ID</key>
	<string>quick-fit-fb4ea</string>
	<key>STORAGE_BUCKET</key>
	<string>quick-fit-fb4ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:305195148777:ios:3705f9dd2283dbe3291778</string>
</dict>
</plist>